 @media (max-width: 768px) {
    .container .row {
        display: flex;
        flex-direction: column; /* Переключаем на вертикальный флексбокс */
    }    
    .container .row > .col-md-6 {
        order: 2; /* Устанавливаем для основного контента третий порядок */
    }
    .container .row > .col-md-3:last-child {
        order: 1; /* Устанавливаем для боковой панели первый порядок */
    }
    .container .row > .col-md-3{
        order: 3;
    }    
}
.italic-blessing {
    font-style: italic;
    font-size: 1.2em;
    font-family: 'Cinzel', 'Cardo', Georgia, serif;
    color: #222;
    text-align: justify; /* Добавлено выравнивание по ширине */
    background: #f8f9fa;
    border-left: 4px solid #b1a7f2;
}
.blessing-highlight {
    background: #ffe9a7;
    border-radius: 0.3em;
    padding: 0 0.3em;
    font-weight: bold;
}
figcaption.blockquote-footer {
    white-space: nowrap;
}



