.img-size {
            width: 50%;
            
            object-fit: cover; /* Используйте cover, чтобы сохранить пропорции изображения */
        }
        .card-img-top {
        height: 200px; /* Задайте фиксированную высоту для изображений */
        object-fit: cover; /* Сохраняет пропорции, обрезая изображение если необходимо*/
        width: 100%; /* Ширина 100% от родителя для поддержки адаптивности */
        }
        .card{
          margin-bottom: 20px;
        }
        .row{
          border-radius: 20px;
        }
        @media (max-width: 768px) {
            .img-size {
                width: 100%; /* На мобильных устройствах также на всю ширину */
            }
        }